<div class="container main">
	<div class="page-header main">
		<h1>Bicycle Rent Agency</h1>
		<h3>
			{{#link-to "deps"}}
				Browse Departments
			{{/link-to}}/
			{{#link-to "bics"}}
				Browse Bicycles
			{{/link-to}}
		</h3>
	</div>
	<div class="row main">
		{{outlet}}
	</div>
</div>
